#map {
    height: 400px;
    width: 600px;
}
.restaurant-detail {
    position: relative;
    margin-bottom: 20px;
    padding-left: 40px;
}
* {
    box-sizing: border-box;
}

body {
    font: 16px Arial;
}

.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
}

input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
}

input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
    cursor: pointer;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}

.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}

.restaurant-name{
    color:green;
    font-size:18px;
    font-weight:bold;
}
select.input-lg{
    height: 56px !important;
}
.tipopedido{
    margin-top: 5px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    /* border-bottom: 1px solid #D5D5D5; */
    font-family: "Knockout 51 4r", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 41px;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    #map{
        display: none;
    }

}