<template>
    <div>
        <!-- Modal -->
        <div class="modal fade" id="ModalAsignaRepartidor" tabindex="-1" role="dialog"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="">Asignar Repartidor al Delivery</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body p-0 m-0">
                        <div class="card" style="margin-bottom: 0px !important;">
                            <div class="card-body p-0">
                                <p v-show="repartidores.length == 0" class="text-danger text-center mt-10 text-lg text-bold">
                                    <br>
                                    No hay repartidores presentes
                                </p>
                                <ul class="list-group" v-show="repartidores.length > 0">
                                    <li class="list-group-item" v-for="repartidor in repartidores">
                                        <span v-text="repartidor.name"></span>
                                        <button type="button" class="btn btn-outline-success float-right" @click="attach(repartidor)">
                                            <i class="fa fa-check"></i>
                                        </button>

                                    </li>
                                </ul>
                            </div>
                            <div class="overlay" v-show="loading">
                                <i class="fa fa-sync-alt fa-spin"></i>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "modal-asignar-repartidor",
        props:{
            url_repartidores: {
                type: String
            },
            url_attach: {
                type: String
            },
            orden: {
                type: Object,
                required: true
            },
            url_save_notify:{
                type: String
            },
            tipo_notify:{
                type: String
            }
        },
        data(){
            return {
                repartidores:[],
                loading:false,
            }
        },
        mounted(){
            console.log('$$ ModalAsignarRepartidor $$ mounted()!');
          this.getDatos()
        },
        methods: {
            getDatos(){
                //console.log('Get datos repartidores');
                var url = this.url_repartidores;
                axios.get(url).then(response => {
//                    console.log(response.data);
                    this.repartidores = response.data.data
                    // toastr.success(response.data.data.message);
                    //this.models = response.data.data;
                })
                .catch(error => {
//                    console.log(error.response.data);
                    // toastr.error(error.response.data.message);
                });
            },
            attach(repartidor){
                this.loading = true;
                console.log(repartidor.name+' reparte la orden: '+this.orden.id);


                var params= {
                    params: {
                        repartidor: repartidor.id,
                        orden: this.orden.id
                    }
                };

                axios.get(this.url_attach,params).then(response => {
                    console.log(response.data);
                    var orden = response.data.data;
                    toastr.success(response.data.message);
                    this.$parent.cambioEstado(orden);
                    $("#ModalAsignaRepartidor").modal('hide');
                    this.loading = false;
                    this.saveNotify(repartidor,orden);
                    //this.models = response.data.data;
                })
                .catch(error => {
                    console.log('Error al asignar',error.response.data);
                    toastr.error(error.response.data.message);
                    $("#ModalAsignaRepartidor").modal('hide');
                    this.loading = false;
                });
            },
            saveNotify(reparitdor,orden){

                console.log('Guardar notificacion');

                var notifi = {
                    mensaje : 'Pedido #'+orden.id,
                    user_id : reparitdor.id,
                    notificacion_tipo_id : this.tipo_notify
                };

                axios.post(this.url_save_notify,notifi).then(response => {
                    console.log(response.data);
//                    toastr.success(response.data.data.message);
                    //this.models = response.data.data;
                })
                .catch(error => {
                    console.log(error.response.data);
//                    toastr.error(error.response.data.message);
                });
            }
        }
    }
</script>

<style scoped>

</style>