<template>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6" v-for="(orden,index) in ordenes">
                    <div class="card card-outline card-dager" :class="{'flash-new' : (transcurrido(orden)<=2 && orden.estado.id==1) ,'flash-cocina' : (transcurridoCocina(orden)>=orden.tiempo_despacho)}">
                        <div class="card-header">
                            <h3 class="card-title">
                                <a :href="url_edit.replace('0',orden.id)" v-if="lugar=='caja'">
                                    # <span v-text="orden.id"></span>
                                </a>
                                <span v-else># <span v-text="orden.id"></span></span>
                                <!--<small v-text="horaCreada(orden)"></small>-->
                            </h3>

                            <div class="card-tools">
                                <span v-show="orden.fecha_entrega" v-tooltip="'Entrega Programada para: '+orden.fecha_entrega_f+' a las: '+orden.hora_entrega">
                                    <i class="fa fa-calendar-alt text-info fa-2x"></i>
                                    &nbsp;&nbsp
                                </span>
                                <span v-show="!orden.web && !orden.delivery" v-tooltip="'Pedido local'">
                                    <i class="fa fa-utensils text-info fa-2x"></i>
                                    &nbsp
                                </span>
                                <span v-show="orden.retiro_en_local" v-tooltip="'Retiro en local'">
                                    <i  class="fa fa-store text-info fa-2x"></i>
                                    &nbsp
                                </span>

                                <span v-show="orden.web"  v-tooltip="'Pedido web'">
                                    <i class="fab fa-internet-explorer text-info fa-2x"></i>
                                    &nbsp
                                </span>

                                <span v-show="orden.delivery"  v-tooltip="'Delivery'">
                                    <i class="fa fa-motorcycle text-info fa-2x"></i>
                                    &nbsp
                                </span>

                            </div>
                            <!-- /.card-tools -->
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body p-1 ">
                            <ul>
                                <li v-for="det in orden.venta_detalles" :class="{'ml-3' : det.item.es_extra}">

                                    <span :class="{'font-weight-bold': !det.item.es_extra}">

                                        <span :class="{'text-muted': det.es_detalle_combo}">
                                            <span v-show="!(det.num_item && det.es_detalle_combo) || (det.es_detalle_combo && !det.num_item)">
                                                <span v-if="" v-text="numf(det.cantidad)"></span>&nbsp;
                                            </span>
                                            <span v-text="det.item.nombre"></span>&nbsp;&nbsp;
                                            <span v-if="det.num_item">
                                                (<span v-text="det.num_item"></span>)
                                            </span>&nbsp;
                                        </span>

                                        <span v-show="det.ingredientes" class="text-muted">
                                            <br>
                                            <span v-text="det.ingredientes"></span>
                                        </span>
                                    </span>
                                </li>
                            </ul>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer p-0">
                            <!-- Datos Cliente -->
                            <div class="row" v-show="(lugar=='caja' || lugar=='delivery_caja'  || lugar=='delivery')">
                                <div class="col text-sm">
                                    <span class="text'muted">Cliente:</span>        <span class="font-weight-bold" v-text="orden.nombre_entrega"></span><br>
                                    <span class="text'muted">Teléfono:</span>       <span class="font-weight-bold" v-text="orden.telefono"></span><br>
                                    <span class="text'muted">Dirección:</span>      <span class="font-weight-bold" v-text="orden.direccion"></span><br>
                                    <span class="text'muted">Correo:</span>         <span class="font-weight-bold" v-text="orden.correo"></span><br>
                                    <span class="text'muted">Observaciones:</span>  <span class="font-weight-bold" v-text="orden.observaciones"></span><br>
                                </div>
                            </div>

                            <!-- Datos repartidor -->
                            <div class="row" v-if="orden.repartidor != null">
                                <div class="col text-sm">
                                    <span class="text'muted">Repartidor:</span>
                                    <span class="font-weight-bold" v-text="orden.repartidor.name"></span>
                                    <br>
                                </div>
                            </div>

                            <!-- Estado y botones -->
                            <div class="row">
                                <div class="col">

                                    <!-- Label Estado -->
                                    <span class="text-left badge badge-info text-lg mt-1 ml-1">
                                        <span v-text="orden.estado.descripcion"></span>
                                    </span>


                                    <!--            Grupo de botones
                                    ------------------------------------------------------------------------>
                                    <span class="float-right" v-show="lugar!='admin'">
                                        <!-- Botón mandar a cocina -->
                                        <button type="button" class="btn btn-outline-success" @click="cambioEstado(orden)"
                                                v-tooltip.top-center="'Mandar a Cocina'" v-show="orden.estado.id==1"
                                                :disabled="loadingBtn">

                                            <span v-show="!loadingBtn">
                                                <i class="fa fa-arrow-right" > </i>
                                            </span>
                                            <span v-show="loadingBtn">
                                                <i class="fa fa-sync fa-spin" > </i>
                                            </span>
                                        </button>

                                        <!-- Botón cocinando -->
                                        <button type="button" class="btn btn-outline-info" @click="cambioEstado(orden)"
                                                v-tooltip.top-center="'Iniciar'" v-show="(orden.estado.id==3 && lugar=='cocina')"
                                                :disabled="loadingBtn">

                                            <span v-show="!loadingBtn">
                                                <i class="fa fa-stopwatch" > </i>
                                            </span>
                                            <span v-show="loadingBtn">
                                                <i class="fa fa-sync fa-spin" > </i>
                                            </span>
                                        </button>

                                        <!-- Botón Lista -->
                                        <button type="button" class="btn btn-outline-info" @click="cambioEstado(orden)"
                                                v-tooltip.top-center="'Lista'" v-show="(orden.estado.id==4 && lugar=='cocina')"
                                                :disabled="loadingBtn">

                                            <span v-show="!loadingBtn">
                                                <i class="fa fa-check" > </i>
                                            </span>
                                            <span v-show="loadingBtn">
                                                <i class="fa fa-sync fa-spin" > </i>
                                            </span>
                                        </button>

                                        <!-- Botón Asignar a delivery -->
                                        <button type="button" class="btn btn-outline-info"
                                                @click="asignarRepartidor(orden)"
                                                :disabled="(orden.estado.id==4 || orden.estado.id==3 && orden.delivery && lugar!='cocina') || loadingBtn"
                                                v-tooltip.top-center="'Delivery'"
                                                v-show="((orden.estado.id==5 || orden.estado.id==4 || orden.estado.id==3) && orden.delivery && lugar!='cocina')">

                                            <span v-show="!loadingBtn">
                                                <i class="fa fa-motorcycle" > </i>
                                            </span>
                                            <span v-show="loadingBtn">
                                                <i class="fa fa-sync fa-spin" > </i>
                                            </span>
                                        </button>

                                        <!-- Botón Despachar -->
                                        <button type="button" class="btn btn-outline-info"
                                                @click="cambioEstado(orden)"
                                                :disabled="(orden.estado.id==4 || orden.estado.id==3 && !orden.delivery && lugar!='cocina') || loadingBtn"
                                                v-tooltip.top-center="'Despachar'"
                                                v-show="((orden.estado.id==5 || orden.estado.id==4 || orden.estado.id==3) && !orden.delivery && lugar!='cocina')">

                                            <span v-show="!loadingBtn">
                                                <i class="fa fa-check" > </i>
                                            </span>
                                            <span v-show="loadingBtn">
                                                <i class="fa fa-sync fa-spin" > </i>
                                            </span>
                                        </button>

                                        <!-- Botón Entregada -->
                                        <button type="button" class="btn btn-outline-info" @click="cambioEstado(orden)"
                                                v-tooltip.top-center="'Entregada'" v-show="(orden.estado.id==6 && lugar=='delivery')"
                                                :disabled="loadingBtn">

                                            <span v-show="!loadingBtn">
                                                <i class="fa fa-check" > </i>
                                            </span>
                                            <span v-show="loadingBtn">
                                                <i class="fa fa-sync fa-spin" > </i>
                                            </span>
                                        </button>

                                        <!-- Botón Anular -->
                                        <button type="button" class="btn btn-outline-danger" @click="preguntaAnular(orden)"
                                                v-tooltip.top-center="'Anular'" v-show="lugar=='caja'"
                                                :disabled="loadingBtn">

                                            <i class="fa fa-times" > </i>
                                        </button>
                                    </span>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <div class="row" v-show="ordenes.length == 0">
                <div class="col text-center text-primary">
                    <h2>
                        No hay Pedidos pendientes!!!
                    </h2>
                </div>
            </div>
        </div>
        <div class="overlay" v-show="loading">
            <i class="fa fa-sync-alt fa-spin"></i>
        </div>
        <modal-asignar-repartidor
                :url_repartidores="url_repartidores"
                :orden="ordenAsigna"
                :url_attach="url_attach"
                :url_save_notify="url_save_notify"
                :tipo_notify="tipo_notify"
        ></modal-asignar-repartidor>
    </div>
</template>

<script>

   import db from '../fireBaseInit';
   import swal from 'sweetalert2';

   import ModalAsignarRepartidor from './ModalAsignarRepartidor.vue';

    export default {
        name: "ordenes-venta",
        components: {
          ModalAsignarRepartidor,
        },
        mounted() {
            this.getDatos();
            console.log('$$ OrdenesVenta $$ mounted()!');

            db.collection("cambios")
                .doc("tienda" + this.tienda )
                .onSnapshot(doc => {
                    if(doc.data()){
                        this.cambios = doc.data().venta;
                    }
                });

            setTimeout(function() {
                console.log('$$ OrdenesVenta $$ Elimina flash');
                $('.card-success').removeClass('flash-new');
                $('.card-success').removeClass('flash-cocina');
            }, 30000);
        },
        created() {
//            console.log('Componente montado');
        },
        props: {
            api: {
                type: String,
                required: true
            },
            url_cambio_estado: {
                type: String,
                required: true
            },
            url_attach: {
                type: String
            },
            lugar: {
                type: String,
                required: true
            },
            tienda: {
                type: String,
                required: true
            },
            url_imprime:{
                type: String,
                required: true
            },
            url_repartidores:{
                type: String
            },
            url_save_notify:{
                type: String
            },
            url_anulacion:{
                type: String
            },
            url_edit:{
                type: String
            },
            tipo_notify:{
                type: String
            },
        },
        data () {
            return {
                ordenes: [],
                cambios: {
                    lugar: '0',
                    estado: '0',
                    inicio: '1'
                },
                loading: false,
                loadingBtn: false,
                ordenAsigna: {}
            }
        },
        methods: {
            numf(num){
//              return numf(num.toFixed(0));
              return parseInt(num);
            },
            getDatos(){
                this.loading = true;
                console.log('$$ OrdenesVenta $$ getDatos()!');

                var url = this.api;
                var params= { params: {lugar: this.lugar} };

                axios.get(url,params).then(response => {
//                    console.log(response.data);

                    this.ordenes = response.data.data;
                    this.loading = false;

                    EventBus.$emit('ordenes-ventas', {listas:this.listas, noListas:this.noListas});
                })
                .catch(error => {
                    console.log(error);
//                    toastr.error(error.response.data.message);
                    this.loading = false;
                });
            },
            cambioEstado(orden){
                console.log('Cambion de estado',orden);
                this.loadingBtn = true;

                var url = this.url_cambio_estado;
                var params= { params: {
                    orden : orden.id,
                    estado: orden.estado.id,
                    delivery: orden.delivery
                } };

                axios.get(url,params).then(response => {
//                    console.log('res cambio estado:',response.data);
                    var newOrden =response.data.data;
                    this.getDatos();
                    this.setCambioFb(newOrden);

                    swal({
                        type: 'success',
                        title: response.data.message,
                    });

                    this.imprimeEnCocina(orden);

                    this.loadingBtn = false;
                })
                .catch(error => {
                    console.log('Error al cambiar estado:',error.response.data);
                    toastr.warning(error.response.data.message).css("width","800px");
                    this.loadingBtn = false;
                });

            },
            imprimeEnCocina(orden){
                if(orden.estado.id==1){
                    console.log('Se imprime en cocina');
                    var url = this.url_imprime.replace('0',orden.id);
                    window.open(url);
                }
            },
            setCambioFb(orden){
                console.log('Set data fb: Estado: '+orden.estado.id+' Lugar: '+this.lugar);

                db.collection("cambios").doc("tienda" + orden.tienda_id).set({
                    venta:{
                        id: orden.id,
                        lugar: this.lugar,
                        estado: orden.estado.id,
                        delivery: orden.delivery,
                    }
                })
                .then(function() {
                    console.log("Document successfully written!");
                })
                .catch(function(error) {
                    console.error("Error writing document: ", error);
                });
            },
            preguntaAnular(orden){
                swal({
                    title: 'Estas seguro de querer Anular la Orden?',
                    text: "Si lo hace no hay forma de Revertir los cambios!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si, Hacerlo!'
                }).then((result) => {
                    if (result.value) {
                        this.anular(orden);
                    }
                })
            },
            anular(orden){
                console.log('Anular',orden);
                var url = this.url_anulacion;
                var params= { params: {
                        id : orden.id,
                    } };

                axios.get(url,params).then(response => {
                   // console.log('res cambio estado:',response.data);
                    var newOrden =response.data.data;
                    this.getDatos();
                    this.setCambioFb(orden);
                    // toastr.success(response.data.message);

                    swal(
                        'Orden Anulada!',
                        'La Orden fue anulada.',
                        'success'
                    )
                })
                .catch(error => {
                    console.log(error.response.data);
                });
            },
            asignarRepartidor(orden){
                console.log('metodo asignarRepartidor');
                this.ordenAsigna=orden;
                $('#ModalAsignaRepartidor').modal('show');
            },
            transcurrido(orden){
                var currentdate = new Date();
                var fecha = new Date(orden.created_at);
                var dif = (currentdate.getTime()-fecha.getTime())/(1000*60);

                //console.log('orden',orden.id,'transcurrido: ',dif.toFixed(0),'Fecha Orden: ',fecha,'Fecha Actual: ',currentdate);
                return dif;

            },
            transcurridoCocina(orden){
                //si la orden esta en estado enviada a cocina o cocinando
                if(orden.estado.id==3 || orden.estado.id==4){
                    var currentdate = new Date();
                    var fecha = new Date(orden.tiempos[3]);
                    var dif = (currentdate.getTime()-fecha.getTime())/(1000*60);

                    dif = isNaN(dif) ? null : dif.toFixed(0);

                    //console.log('orden',orden.id,'transcurrido cocina',dif,'Fecha Orden: ',fecha,'Fecha Actual: ',currentdate);
                    return dif;
                }

                return null;

            },
            horaCreada(orden){
                var fecha = new Date(orden.created_at);

                return fecha.getHours()+':'+fecha.getMinutes();
            }
        },
        watch: {
            cambios: function (newVal,oldVal) {
//                console.log('watch cambios',newVal,oldVal);
                var inicio = oldVal.inicio;
                var lugar= newVal.lugar;
                var estado= newVal.estado;
                var delivery= newVal.delivery;

                if(!inicio){
                    if(this.lugar=='caja'){
                        if(estado==1 || estado==3 || estado==4 || estado==5 || estado==6 || estado==7  || estado==2){
                            this.getDatos()
                        }
                    }

                    if(this.lugar=='cocina'){
                        if(estado==3 || estado==4 || estado==2){
                            this.getDatos()
                        }
                    }

                    if((this.lugar=='delivery_caja' || this.lugar=='delivery') && delivery){
                        if(estado==6 || estado==7 || estado==2){
                            this.getDatos()
                        }
                    }
                }


            }
        },
        computed:{
            listas (){
                var cantidad = 0;

                $.each(this.ordenes, function (index, orden) {
                    if(orden.estado.id == 5){
                        cantidad ++;
                    }
                })
                return cantidad;
            },

            noListas (){
                var cantidad = 0;

                $.each(this.ordenes, function (index, orden) {
                    if(orden.estado.id == 1){
                        cantidad ++;
                    }
                })
                return cantidad;
            }
        }
    }

</script>

<style scoped>
    /*@import "../../../../node_modules/animate.css/animate.min.css";*/

    @-webkit-keyframes flash-new {
        0% {
            background-color: Yellow;
        }
        100% {
            background-color: transparent;
        }
    }

    .flash-new {
        -webkit-animation-name: flash-new;
        -webkit-animation-duration: 2000ms;
        -webkit-animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
    }

    @-webkit-keyframes flash-cocina {
        0% {
            background-color: #DC3545;
        }
        15% {
            background-color: transparent;
        }
        100% {
            background-color: transparent;
        }
    }

    .flash-cocina {
        -webkit-animation-name: flash-cocina;
        -webkit-animation-duration: 2000ms;
        -webkit-animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
    }

    .card-dager.card-outline {
        border-top: 3px solid #9D1414;
    }

</style>
