<template>
    <div class="col-md-4 p-1 bgc" :class="{'scroll-orders' : ordenes.length > 4} " >
        <div class="card"  style="margin-bottom: 10px !important;">
            <!-- /.card-header -->
            <div class="card-body py-0 pr-0 card-titulo-ordenes">
                <h2>
                    LISTA DE ORDENES &nbsp; &nbsp;
                    <span class="pull-right">
                        <img :src="url_logo" alt="logo" class="img-fluid" style="max-height: 70px; margin-right: 0px">
                    </span>
                </h2>
            </div>
            <!-- /.card-body -->
        </div>
        <div class="card card-outline card-danger mx-2" v-for="(orden,index) in ordenes" style="margin-bottom: 10px !important;">
            <!-- /.card-header -->
            <div class="card-body p-0" :class="{'flash-new' : index==0}">
                <h2 class="p-0">
                    ORDEN N° <span class="font-weight-bold color-empresarial" v-text="orden.id"></span>
                    <br><small v-text="orden.nombre_entrega"></small>
                </h2>
            </div>
            <!-- /.card-body -->
        </div>
    </div>
</template>

<script>

   import db from '../fireBaseInit';
   import swal from 'sweetalert2';

    export default {
        name: "ordenes-venta-banner",
        mounted() {
            this.getDatos();
            console.log('$$ OrdenesVentaBanner $$ mounted()!');

            db.collection("cambios")
                .doc("tienda" + this.tienda )
                .onSnapshot(doc => {
                    if(doc.data()){
                        this.cambios = doc.data().venta;
                    }
                });

        },
        props: {
            api: {
                type: String,
                required: true
            },
            tienda: {
                type: String,
                required: true
            },
            url_logo: {
                type: String,
                required: true
            }
        },
        data () {
            return {
                ordenes: [],
                lugar : 'banner',
                cambios: {
                    lugar: '0',
                    estado: '0',
                    inicio: '1'
                },
                loading: false,
                loadingBtn: false,
                ordenAsigna: {}
            }
        },
        methods: {
            numf(num){
//              return numf(num.toFixed(0));
              return parseInt(num);
            },
            getDatos(){
                this.loading = true;

                var url = this.api;
                var params= { params: {lugar: this.lugar} };
                console.log('$$ OrdenesVentaBanner $$ getDatos()!',url,params);

                axios.get(url,params).then(response => {
                    //console.log(response.data);
                    this.ordenes = response.data.data;

                })
                .catch(error => {
                    console.log(error);
//                    toastr.error(error.response.data.message);
                    this.loading = false;
                });
            }
        },
        watch: {
            cambios: function (newVal,oldVal) {
                console.log('watch cambios',newVal,oldVal);
                this.getDatos()

            }
        }
    }

</script>

<style scoped>
    .bgc {
        background-color: #000000;
    }

    .color-empresarial {
      color: #9D1414;
    }

    .card-danger.card-outline {
        border-top: 5px solid #9D1414;
    }

    .scroll-orders {
        overflow-y: scroll; max-height:500px;
    }

    .card-titulo-ordenes {
        background-color: #9D1414;
        color: white;
    }

    @-webkit-keyframes flash-new {
        0% {
            background-color: Yellow;
        }
        100% {
            background-color: transparent;
        }
    }

    .flash-new {
        -webkit-animation-name: flash-new;
        -webkit-animation-duration: 2000ms;
        -webkit-animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
    }
</style>
