.main {
    background: #ffffff;
    border-radius: 3px;
    width: 100%; }

.wrapper {
    box-sizing: border-box;
    padding: 20px; }

.content-block {
    padding-bottom: 10px;
    padding-top: 10px;
}

.footer {
    clear: both;
    Margin-top: 10px;
    text-align: center;
    width: 100%; }
.footer .content-block,
.footer p,
.footer span,
.footer a {
    color: #999999;
    font-size: 12px;
    text-align: center; }

.table thead th {
    text-align: center;
}

.content {
    box-sizing: border-box;
    display: block;
    Margin: 0 auto;
    max-width: 580px;
    padding: 10px; }
